body.bgcolor{
    font-family:Arial, Helvetica, sans-serif;
    margin:0px;
    padding:0px;
    background:#f1d5d5;
    background-size:100%;
    /* overflow:hidden; */
}
header h1{
    display:inline;
}
section {
    display:flex;
    justify-content:center;
    align-items: center;
    min-height: 100vh;
    /* background:linear-gradient(to bottom,#efefef,#fff); */
}
@media only screen and (max-width: 600px) {
    .small-title{
      display: inline;
    }
   
}

.title {
    position:relative;
    color:navy;
    font-size:25px;
    font-weight:600;
    letter-spacing: 1px;
    margin-bottom: 10px;
    text-align:center;   
}
form {
    /* position:absolute; */
    
    /* top:10px; */
    /*left:50%;
    transform: translate(-50%,-50%);  */
    border:1px solid rgba(250,250,250,0.5);
    padding:20px;
    border-radius:5px;
    background:rgba(250,250,250,0.2);
    backdrop-filter: blur(15px);
    width:400px;
    align-items:center;
    justify-content:center;
    
}
form input {
    padding:15px;
    border:none;
    background:rgba(250,250,250,0.3);
    margin-bottom: 10px;
    border-radius:5px;
}
form button  {
    padding:25px;
    border:none;
    margin:10px;
    width:150px;
    text-justify: center;
}
.card{
    background-color:#FFB7C5 0.5;
    
 }
 

 @media only screen and (max-width: 600px) {
    header{
        display:none;
    }
    
}

@media only screen and (max-width: 1000px) {
    header{
        display:none;
    }
}
.card_wrapper{
    display: flex;
}



